// colors -----------------------------------

// dark theme
$dark-bg: #111111;
$main-color-dark: #00c6cf;
$text-color-dark: #ffffff;
$gray-color-dark: #252525;

// light theme
$light-bg: #fff;
$main-color-light: #72b626;
$text-color-light: #666;
$gray-color-light: #f2f2f2;

// fonts ----------------

$big-text: "Poppins", sans-serif;
$small-text: "Open Sans", sans-serif;
